* {
    margin: 10px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 50px;
    background-color: brown;
    color: rgb(255, 255, 255);
    text-align: center;
}

main {
    align-content: center;
}